<div class="container contenedor-login mt-5">
    <h3  style="text-align: center;">LOGIN</h3>
<form [formGroup]="loginForm" (ngSubmit)="login()" class="formulario">
 <div class="mb-3 div-input">
    <label class="form-label"><i class="fas fa-user"></i> Usuario*</label>
    <input type="text" class="form-control" formControlName="username">
  </div>
  <div class="mb-3 div-input">
    <label class="form-label"><i class="fas fa-unlock"></i> Password*</label>
    <input type="password" class="form-control" formControlName="password">
  </div>
  <div class="div-input">
      <button type="submit" class="btn btn-success" style="width: 100%;">INGRESAR</button>
  </div>
</form>
</div>