.menu-login {
    display:inline-block;
    width: 100%;
    cursor: pointer;
}

button {
    color: #000;
    border: #000 1px solid;
    width: 80px;
}

.navbar {
    height: 100%;
    display: block;
    position: fixed;
    width: 220px;
    padding-top: 0px;
    border-right: #000 1px solid;
    padding: 0px;
}

.nav-item i, a {
    color: #000;
}

.nav-item:hover {
    background-color: rgb(143, 138, 138);
}

.nav-item i {
    margin-left: 20px;
}

hr {
    opacity: 1;
    width: 100%;
    margin: 0px;
}

.nombre-user {
    background-color: rgb(41, 9, 223);
    color: rgb(226, 205, 205);
    top: 0px;
    padding: 5px;
}

@media (max-width: 992px){
    .navbar {
        position: relative;
        width: 100%;
    }
    .nombre-user {
        display: none;
    }
}
