<div class="container-fluid">
    <form>
        <div class="mb-3">
          <label class="form-label">NOMBRE</label>
          <input type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">APELLIDO</label>
            <input type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">DNI</label>
            <input type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">DIRECCION</label>
            <input type="text" class="form-control">
        </div>

        <button type="submit" class="btn btn-success">EDITAR</button>
        <button class="btn btn-warning" routerLink="/paciente/lista-pacientes">CANCELAR</button>
      </form>
</div>
