<div class="container" style="align-items: center;">
    <h3 class="mt-4 text-center">FICHA DEL PACIENTE</h3>
    <hr>

    <div class="row contenedor-card"  *ngIf="service.pacienteService; else pacienteNoSelelccionado;">
        <div class="card col-md-8" style="width: 50rem;">
            <div class="row">
                <div class="col-6">
                    <div class="card-body">
                        <h5 class="card-title text-center">Datos personales</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item mb-3"><strong>Apellido:</strong> {{service.pacienteService.apellido }}</li>
                            <li class="list-group-item mb-3"><strong>Nombre:</strong> {{service.pacienteService.nombre }}</li>
                            <li class="list-group-item mb-3"><strong>D.N.I:</strong> {{service.pacienteService.dni }}</li>
                            <li class="list-group-item mb-3"><strong>Fecha de nac:</strong> {{service.pacienteService.fechaDeNacimiento }}</li>
                          </ul>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-body">
                        <h5 class="card-title text-center">Datos de contacto</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item mb-3"><strong>Localidad:</strong> {{service.pacienteService.localidad }}</li>
                            <li class="list-group-item mb-3"><strong>Dirección:</strong> {{service.pacienteService.direccion }}</li>
                            <li class="list-group-item mb-3"><strong>Teléfono:</strong> {{service.pacienteService.telefono }}</li>
                            <li class="list-group-item mb-3"><strong>Email:</strong> {{service.pacienteService.email }}</li>
                          </ul>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-2 contenedor-btn btn-group-vertical">
              <button class="btn btn-success mb-3" routerLink="/paciente/edit-paciente">
                <i class="far fa-edit"></i> EDITAR</button>
              <button class="btn btn-info mb-3">
                <i class="fas fa-calendar-day"></i> VER TURNOS</button>
              <button class="btn btn-danger" routerLink="/paciente/lista-pacientes">
                <i class="far fa-window-close"></i> CANCELAR</button>
          </div>
    </div>
</div>

<!--templte que se muestra si no hay paciente seleccionado-->
<ng-template #pacienteNoSelelccionado>
    <div class="container" style="text-align: center;">
        <h3>
            No hay paciente seleccionado
        </h3>
        <a routerLink="/paciente/lista-pacientes">volver a las lista de pacientes</a>
    </div>
</ng-template>
