.car {
    border-radius: 0px;
}

.card-header {
    text-align: center;
}

.card-body {
    padding: 0px;
}

.titulo-datos {
    background-color: black;
    width: 100%;
    color: rgb(107, 102, 102);
}

.card-body h4, h6 {
    margin-left: 15px;
    padding: 0.5rem 0.5rem;
}

.row {
    --bs-gutter-x: 0px
}

.contenedor-ficha {
    width: 70%;
}

@media (max-width: 992px){
    .contenedor-ficha {
        width: 100%;
    }
}